@import global

.calendarContainer
    display: flex
    justify-content: center
    align-items: center
    margin: 3em 0 2em 0

    .calendar
        background: #1a1a1a
        height: 75px
        display: flex
        border-radius: 10px
        border: 1px solid $primary-purple

        .divider
            background: #282828
            width: 1px
            height: 60%
            margin-top: auto
            margin-bottom: auto


.calendarSkeleton
    height: 51px
    width: 520px
    position: relative
    overflow: hidden
    border-radius: 5px
    grid-column-start: 3
    grid-column-end: 4
    background-color: #272727

    &:before
        content: ''
        display: block
        position: absolute
        left: -150px
        top: 0
        height: 100%
        width: 150px
        background: linear-gradient(to right, transparent 0%, #353535 50%, transparent 100%)
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite


@keyframes load
    from 
        left: -150px
    to
        left: 100%

@media (max-width: 700px)
    .calendarContainer
        margin: 1.5em 0 1em 0
        .calendar
            height: 60px

            .orderDivider
                display: none
