@import global

.card
    background-color: #272727
    margin: 30px
    width: 210px
    transition: all 0.2s ease-out
    border-radius: 5px
    overflow: hidden

    &.expanded
        width: 460px

    .cardBody
        height: 300px
        width: 210px
        position: relative

        .thumbnail
            object-fit: cover
            width: 100%
            height: 100%

        .title
            position: absolute
            bottom:0
            color: white
            padding-top: 0.3em
            padding-bottom: 0.3em
            background-color: #000000ce
            width: 100%
            font-family: $open-sans
            text-align: center

        .drawer
            position: absolute
            top: 0
            left: 210px
            width: 250px
            height: 300px

            .genreContainer
                width: 100%
                height: 30px
                overflow: hidden
                display: flex
                justify-content: center
                flex-wrap: wrap
                border-bottom: 1px solid #20202048
                background-color: #966dc9

                .genre
                    color: white
                    font-family: $open-sans
                    font-size: 12px
                    line-height: 18px
                    height: 20px
                    margin: 5px 0.5em

            .studio
                color: white
                font-family: $pt-sans
                font-size: 17px
                line-height: 22px
                text-align: center
                height: 25px
                background-color: #222222
                border-bottom: 1px solid #202020

            .airingInfo
                display: flex
                color: white
                font-family: $pt-sans
                font-size: 14px
                line-height: 22px
                text-align: center
                height: 25px
                background-color: #222222
                border-bottom: 1px solid #202020

                .status
                    margin-right: auto
                    margin-left: auto

                .number
                    margin-right: auto
                    margin-left: auto

            .description
                color: white
                font-family: $pt-sans
                padding: 1em
                font-size: 14px
                line-height: 1.4
                overflow-y: scroll
                height: calc(300px - 111px)

                &::-webkit-scrollbar
                    width:  5px
                    height: 5px

                &::-webkit-scrollbar-thumb 
                    background: $gray

                &::-webkit-scrollbar-track 
                    background: $background-alt

    .cardHeader
        position: absolute
        top: 0
        height: 30px
        width: 210px
        display: flex
        align-items: center

        .score
            color: white
            font-family: $open-sans
            font-size: 13px
            line-height: 18px
            height: 20px
            width: 50px
            border-radius: 20px
            text-align: center
            margin: 0 0.5em
            background-color: #9f5bf1

        .addButton
            position: relative
            border: 1px solid white
            border-radius: 50px
            width: 19px
            height: 19px
            background-color: #00000025
            margin: 0 0.5em 0 auto

            .negative
                position: absolute
                height: 1px
                width: 9px
                background-color: white
                top: 9px
                left: 5px

            .positive
                transition: transform 0.2s ease-out
                position: absolute
                height: 9px
                width: 1px
                background-color: white
                top: 5px
                left: 9px

    .countdown
        color: white
        padding-top: 0.5em
        padding-bottom: 0.5em
        background-color: #2d2d2d
        border-bottom: 1px solid #0000002c
        width: 100%
        font-family: $open-sans
        text-align: center
    
.cardSkeleton
    position: relative
    overflow: hidden
    border-radius: 5px

    &:before
        content: ''
        display: block
        position: absolute
        left: -150px
        top: 0
        height: 100%
        width: 150px
        background: linear-gradient(to right, transparent 0%, #353535 50%, transparent 100%)
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite

    .genreSkeleton
        color: white
        font-family: $open-sans
        background-color: #353535
        border-radius: 50px
        font-size: 12px
        line-height: 18px
        padding: 0 1em
        height: 15px
        width:50px
        margin: 0 0.5em

    .addButtonSkeleton
        position: relative
        border-radius: 50px
        width: 17px
        height: 17px
        background-color: #353535
        margin: 0 0.5em 0 auto

    .titleSkeleton
        position: absolute
        bottom: 38px
        left: 20px
        color: white
        padding-top: 0.3em
        padding-bottom: 0.3em
        background-color: #353535
        border-radius: 20px
        width: 80%
        height: 4px
        font-family: $open-sans
        text-align: center

    .countdownSkeleton
        position: absolute
        bottom: 13px
        left: 20px
        color: white
        padding-top: 0.3em
        padding-bottom: 0.3em
        background-color: #353535
        border-radius: 20px
        width: 80%
        height: 4px
        font-family: $open-sans
        text-align: center


@keyframes load
    from 
        left: -150px
    to
        left: 100%
