@import global

.filterSearch
    display: flex
    align-items: center
    user-select: none
    margin-left: auto
    justify-content: center
    margin-bottom: 3em

    .filterName
        margin-left: 10px
        margin-right: 20px
        color: white
        font-size: 14px
        font-family: $pt-sans

@media (max-width: 399px)
    .filterSearch
        margin-bottom: 1.5em

@media (max-width: 700px)
    .filterName
        font-size: 13px

