@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')

$open-sans: 'Open Sans', sans-serif
$pt-sans: 'PT Sans', sans-serif

$primary-background: #1C1C1C
$primary-green: #51CB9C
$primary-purple: #9E5BF1

$background-alt: #242424

$gray: #9c9c9c

$main-header-height: 65px

$action: #242424
$comedy: #242424
$drama: #242424
$sci-fi: #242424
$psychological: #242424
$mystery: #242424
$horror: #242424
$shounen: #242424
$supernatural: #242424
$romance: #242424
$school: #242424
$seinen: #242424
$slice-of-life: #242424
$demons: #242424
$historical: #242424
$samurai: #242424
$mecha: #242424
$fantasy: #242424
$thriller: #242424
$dementia: #242424
$magic: #242424
$adventure: #242424
$sports: #242424
$game: #242424
$harem: #242424
$super-power: #242424