@import global
    
.navContainer
    height: 45px
    width: 100%
    position: relative
    background-color: $primary-background
    color: white
    display: flex
    justify-content: flex-start
    align-items: flex-end
    
    .logo
        font-size: 30px
        font-family: $pt-sans
        color: #6c6c6c
        margin-left: 20px
        user-select: none

        .logoColour
            color: #494949

    .centerButtons
        position: absolute
        top: 60%
        right: 50%
        transform: translate(50%,-50%)
        user-select: none

        .trackerButton
            border: none
            background: transparent
            color: white
            font-family: $pt-sans
            font-size: 15px
            cursor: pointer

            .underline
                margin-top: 5px
                width:30%
                height: 1px
                background: white
                margin-left: auto
                margin-right: auto

    .userDropdown
        border: none
        background: transparent
        width: 55px
        cursor: pointer
        padding: 0
        margin-right: 20px
        margin-left: auto
        user-select: none

@media (max-width: 700px)
    .navContainer
        height: 30px

        .logo
            display: none

        .centerButtons
            .trackerButton
                font-size: 12px

        .userDropdown
            display: none